<h1>Client Information</h1>
<h2>@Model["client"].GetFirstName()  @Model["client"].GetLastName()</h2>
<h3>Number : @Model["client"].GetNumber()</h3>
<h3>email : @Model["client"].GetEmail()</h3>
<h3>Stylist : @Model["stylist"].GetStylistName()</h3>

<h4><a href="/">Return home</a></h4>
